@tailwind components;

@layer components {
  .button {
    @apply px-4 py-2 rounded-full cursor-pointer shadow-sm hover:shadow-md active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out;
  }
}


#searchPage {
  #header {
    background-color: white;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);

    #searchInput {
      --tw-placeholder-opacity: 1;
      color: rgba(107, 114, 128, var(--tw-placeholder-opacity));

    }



    #hostIcons {


      color: gray;
      ;
    }
  }
}